{{outlet}}

<h3>{{model.name}}</h3>
<h5>Description: {{model.description}}</h5>
<h5>Location: {{model.location}}</h5>
<h5>Date Added: {{current-date model.date_added}}</h5>

<button {{action 'delete' model}}>Delete</button>
{{update-listing listing=model updateListing="updateListing"}}

{{#link-to 'category' model.category}}<p>Back</p>{{/link-to}}
